<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li id="menu-cliente"><a href="{% url 'hinode:clientes_list' %}">Clientes <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'hinode:estoque_list' %}">Estoque <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'hinode:vendas_list' %}">Vendas <span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Vendas</a></li>
        <li><a href="">Contas a receber</a></li>
    </ul>
</div>