{% extends "core/base.html" %}

{% load bootstrap3 %}

{% block bootstrap3_title %}Sistema de controle de vendas HINODE{% endblock %}

{% block bootstrap3_extra_head %}
    <link href="/static/core/css/core.css" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
    {% if user.is_authenticated %}
        {% include "core/cabecalho_pagina.html" %}

        <div class="container-fluid">
            <div class="row">
                {% include "core/barra_lateral.html" %}
            </div>
        </div>

    {% else %}
        <p><a href="{% url 'core:login' %}">Login</a>.</p>
    {% endif %}

{% endblock %}
