{% extends 'core/base.html' %}

{% block bootstrap3_title %}
    Sistema de controle de vendas HINODE
{% endblock %}

{% block bootstrap3_extra_head %}
    <link href="/static/core/css/core.css" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}

    <script type="text/javascript">
        function exclui(event){
            var teste=window.confirm('Deseja excluir', 'Apagar');
            if (!teste){
                event.preventDefault();
            }
        }
    </script>

    {% include "core/cabecalho_pagina.html" %}

    <div class="container">
        {% include "core/barra_lateral.html" %}
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="page-header">
                    <h1>
                        Vendas
                    </h1>
                </div>

                <nav class="navbar navbar-default barra_opcoes" role="navigation">
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="{% url 'core:vendas_add' %}">Novo</a></li>
                    </ul>
                </nav>

                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                                Forma
                            </th>
                            <th>
                                Total
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for venda in object_list %}
                        <tr>
                            <td>
                                {{ venda.cliente.nome }}
                            </td>
                            <td>
                                {{ venda.dataDaVenda }}
                            </td>
                            <td>
                                {{ venda.forma_de_pagamento.descricao }}
                            </td>
                            <td>
                                {{ venda.total_da_venda }}
                            </td>
                            <td>
                                <a href="#">Alterar</a>
                            </td>
                            <td>
                                <a href="#" onclick="exclui(event)">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}